*{
    background-color: rgb(251, 250, 252);
    font-family: fantasy;
}

.rectangulo1{
    position: absolute;
    width: 88%;
    height: 20%;
    left: 8%;
    top: 10%;

    background: rgb(20, 151, 123);

}

.rectangulo2{
    position: absolute;
    width: 40%;
    height: 42%;
    left: 30%;
    top: 45%;

    border-radius: 20px;
    padding: 2%;
    background: rgb(255, 255, 255);
}

.titulo{
    position: absolute;
    width: 88%;
    font-size: 20mm;
    text-align: center;
    font-family: fantasy;
    height: 20%;
    left: 5%;
    top: 5%;

    background: rgb(211, 211, 211);
}

.txtAreaMensaje{
    position: absolute;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 2.5%;
    font-size: 5mm;
    text-align: center;
}

.etiClave{
    position: absolute;
    font-size: 8mm;
    text-align: center;
    left: 55%;
    top: 38%;
}

.etiMensaje{
    position: absolute;
    font-size: 8mm;
    text-align: center;
    left: 8%;
    top: 38%;
}

.passMensaje{
    position: absolute;
    width: 40%;
    font-size: 5mm;
    text-align: center;
    height: 15%;
    left: 55%;
    top: 48%;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 40px;
    background: rgb(251, 250, 252);
}

.passMensaje1{
    position: absolute;
    width: 40%;
    font-size: 5mm;
    text-align: center;
    height: 15%;
    left: 55%;
    top: 48%;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 40px;
    background: rgb(251, 250, 252);
}

.passClave{
    position: absolute;
    width: 40%;
    font-size: 5mm;
    text-align: center;
    height: 15%;
    left: 6%;
    top: 48%;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 40px;
    background: rgb(251, 250, 252);
}

.passCifrado{
    position: absolute;
    width: 40%;
    font-size: 5mm;
    text-align: center;
    height: 15%;
    left: 7%;
    top: 48%;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 40px;
    background: rgb(251, 250, 252);
}

.passCifrado1{
    position: absolute;
    width: 40%;
    font-size: 5mm;
    text-align: center;
    height: 15%;
    left: 7%;
    top: 48%;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 40px;
    background: rgb(251, 250, 252);
}

.botonCifrar{
    position: absolute;
    width: 10%;
    font-size: 8mm;
    text-align: center;
    height: 8%;
    left: 45%;
    top: 80%;
    border-radius: 10px;
}

.botonCifrar1{
    position: absolute;
    width: 10%;
    font-size: 8mm;
    text-align: center;
    height: 8%;
    left: 60%;
    top: 80%;
    border-radius: 10px;
}

.botonDescifrar{
    position: absolute;
    width: 15%;
    font-size: 8mm;
    text-align: center;
    height: 8%;
    left: 5%;
    top: 80%;
    border-radius: 10px;
}

.botonDescifrar1{
    position: absolute;
    width: 15%;
    font-size: 8mm;
    text-align: center;
    height: 8%;
    left: 5%;
    top: 80%;
    border-radius: 10px;
}

.botonCifrarRedirect{
    position: absolute;
    width: 15%;
    font-size: 8mm;
    text-align: center;
    height: 8%;
    left: 80%;
    top: 80%;
    border-radius: 10px;
}

.botonDescifrarRedirect{
    position: absolute;
    width: 15%;
    font-size: 8mm;
    text-align: center;
    height: 8%;
    left: 80%;
    top: 80%;
    border-radius: 10px;
}



